body{
    background-color: #e2e2e2;
}

.zoom-marker-div{
    width:90%;
    margin:auto auto auto auto;
    height:800px;
    overflow:hidden;
    position: relative;
}
.zoom-marker-img{
    position:absolute;
    left: 0;
    top:0;
}

.zoom-marker{
    position: absolute;
    cursor: pointer;
}

.zoom-marker img{
    position: absolute;
}

.zoom-marker span{
    position: absolute;
}

.zoom-marker-hover-dialog{
    background-color: #ff8355;
    display: none;
    position: absolute;
    padding: 10px;
    color: #fff;
    border-color: #ff8355;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    text-align: center;
    height: 26px;
    line-height: 26px;
}
